
/*Make all "checked" checkboxes have a left margin of 50px(margin-left: 50px)*/

/* Make the <label> elements all UPPERCASE without changing the HTML(definitely look this one up*/

/*Make the first letter of the element with id 'special' green and 100px font size(font-size: 100)*/




body{

    background-color: #0fcf90;
}
h1{
    color : #b9105e;
}
h2{
    color : orange;
}
li{
    color : rgb(0, 132, 255);
}
p{
    background-color: yellow;
}
input{
    border-radius: 3px;
    border-color: red;
}
.hello{
    background-color: white;
}
#special{
    border-radius: 2px;
    border-color: rgb(34, 123, 196);
    border-style: solid;
}
div p {
    font-size : 25px;
}
input[type=text]{
    background-color: grey;
}
input[type=checkbox]:checked{
    margin-left: 50px;
}
div:nth-of-type(3) p{
    background-color: pink;
}

div:nth-of-type(3)  p:nth-of-type(2){
    border: solid 5px white;
}


div:nth-of-type(3) em{
    font-size:20px;
    color : white;

}
a:visited{
    color : grey;
}
h1:hover{
    color :blue;
}
